python-dotenv
langchain-core~=0.3.15
langchain~=0.3.7
langchain-google-genai~=2.0.4
tqdm
langchain-text-splitters~=0.3.2
langchain-community~=0.3.3
branca
streamlit~=1.51.0
folium~=0.20.0
shapely~=2.1.2
requests~=2.32.5
streamlit-folium~=0.25.3
pymongo~=4.15.4